# QA or AWS ECS environment variables.
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://your-rds-endpoint.amazonaws.com:5432/your_database
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=use-secrets-manager
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false
GOOGLE_CLIENT_ID=748012898312-5235k6up5bk9v0jsa6e50bifott0nn6r.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=use-secrets-manager
APP_SECURITY_ADMIN_EMAILS=jackiewangjiayi513@gmail.com
SPRING_KAFKA_BOOTSTRAP_SERVERS=broker-1:9092,broker-2:9092,broker-3:9092
APP_KAFKA_TOPIC_NAME=student-events
APP_KAFKA_PARTITIONS=3
APP_KAFKA_REPLICATION_FACTOR=3
APP_KAFKA_CONSUMER_GROUP_ID=student-management-consumers
APP_KAFKA_LISTENER_CONCURRENCY=3
