# Local environment variables.
SERVER_PORT=8082
SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/studentdb
SPRING_DATASOURCE_USERNAME=appuser
SPRING_DATASOURCE_PASSWORD=YourStrongPassword123!
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
GOOGLE_CLIENT_ID=748012898312-5235k6up5bk9v0jsa6e50bifott0nn6r.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
APP_SECURITY_ADMIN_EMAILS=jackiewangjiayi513@gmail.com
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:19092,localhost:19093,localhost:19094
APP_KAFKA_TOPIC_NAME=student-events
APP_KAFKA_PARTITIONS=3
APP_KAFKA_REPLICATION_FACTOR=3
APP_KAFKA_CONSUMER_GROUP_ID=student-management-consumers
APP_KAFKA_LISTENER_CONCURRENCY=3
