# Copy to application-dev.properties and set your local values (not committed to Git).
server.port=8082
spring.datasource.url=jdbc:postgresql://localhost:5432/your_database
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.sql.init.mode=always
